# User specific files
*.user

.idea/
obj/
# dotnet user secrets
**/secrets.json

# Coverage
coverage/
*.cobertura.xml
TestResults/

# OS
.DS_Store
Thumbs.db

# Environment
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json